html,
body {
    font-family: Tahoma Regular font, TAHOMA_0, TAHOMAB0, TAHOMABD;
    background-color: #f4f4f4 !important;
    font-size: 14px;
    color: #232323;
}
.backgroud-body{
    background-color: #f4f4f4;
    text-align: left;
}

.nav-link {
    color: #ffffff !important;
}

.tick-costom {
    content: '\f00c';
    color: #fbab19;
    font-size: 18px;
    width: 40px;
    height: 40px;
    line-height: 34px;
    font-family: 'FontAwesome';
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
}

.owl-carousel .item img {
    display: block;
    width: 100%;
    height: auto
}

.owl-carousel .item {
    margin: 20px
}

.owl-carousel {
    margin-bottom: 15px
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.img-logo-circle {
    width: 150px;
    margin: auto;
    height: 150px;
    align-items: center;
    align-self: center;
    padding-top: 50px;
    border-radius: 50%;
    background-color: #ffffff;
}

.input-form-control {
    padding: 20px 10px;
}

.btn-login-admin {
    padding: 18px 0px;
    height: 55px;
    border-radius: 5px;
    background-color: #e09511;
    color: #ffffff;
}

.btn-login-admin:hover {
    color: blue !important;
}

.text-error {
    color: red;
}

.none-select-text {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.icon-profile {
    display: flex;
    align-self: center;
    padding: 10px;
    float: right;
}

.icon-profile:hover {
    background-color: #2573a0;
}

.txt-null-return {
    display: inline-flex;
    font-size: 33px;
    color: #fa2525;
}

.header-title {
    align-self: center;
    float: left;
    padding: 10px;
}

.btn-menu {
    background-color: #f4f4f4;
    box-shadow: 2px 2px 5px black;
    font-size: 20px;
    color: black;
    text-decoration: none !important;
}

.btn-menu:hover {
    background-color: #f4f4f4;
    box-shadow: 2px 2px 5px rgb(236, 150, 52) !important;
    color: rgb(236, 150, 52) !important;
    text-decoration: none !important;
    
}

.btn-menu:visited {
    color: red;
    background-color: #f4f4f4;
    text-decoration: none !important;
}

.fa-menu {
    padding: 10px;
}

.from-infor {
    position: absolute;
    margin-top: 42px;
    background-color: #ffffff;
    margin-right: 5px;
    color: #444;
    width: 100%;
    display: flex;
}

table {
    color: #000;
    background: white;
    border: 1px solid grey;
    font-size: 15pt;
    border-collapse: collapse;
    font-weight: 100 !important;
    width: 100%;
}

table thead th,
table tfoot th {
    background: rgba(0, 0, 0, .1);
}

table th,
table td {
    padding: .5em;
    border: 1px solid lightgrey;
    font-weight: 100;
}

/* table th {
    width: 80px;
} */

.et-train-block {
    padding-left: 5px;
    padding-right: 5px;
    height: 140px;
    cursor: pointer;
    width: 140px !important;
    display: inline-block !important;
    float: none !important;
}

.et-train-head {
    width: 120px;
    height: 120px;
    border-radius: 20px;
    background-color: #999;
    padding: 0 5px;
    position: absolute;
    z-index: 6;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.et-train-head-info {
    height: 70px;
    width: 100%;
    border-radius: 10px;
    background-color: #fff;
    font-size: 9px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 5px;
}

.et-no-margin {
    margin: 0 10px 0 6px !important;
    width: 95%;
}

.et-col-50 {
    width: 50%;
    float: left;
    display: block;
    min-height: 1px;
}

.et-train-base {
    height: 0;
    width: 0;
    border-bottom: 62px solid #000;
    border-left: 62px solid transparent;
    border-right: 62px solid transparent;
    position: absolute;
    margin-top: 80px;
    z-index: 1;
    margin-left: -2px;
}

.et-train-base-2 {
    height: 0;
    width: 0;
    border-bottom: 42px solid #fff;
    border-left: 42px solid transparent;
    border-right: 42px solid transparent;
    position: absolute;
    margin-top: 95px;
    margin-left: 18px;
    z-index: 2;
}

.et-train-base-3 {
    height: 0;
    width: 0;
    border-bottom: 42px solid #000;
    border-left: 42px solid transparent;
    border-right: 42px solid transparent;
    position: absolute;
    margin-top: 90px;
    margin-left: 18px;
    z-index: 3;
}

.et-train-base-4 {
    height: 0;
    width: 0;
    border-bottom: 32px solid #fff;
    border-left: 32px solid transparent;
    border-right: 32px solid transparent;
    position: absolute;
    margin-top: 95px;
    margin-left: 28px;
    z-index: 4;
}

.et-train-base-5 {
    height: 0;
    width: 0;
    border-bottom: 32px solid #000;
    border-left: 32px solid transparent;
    border-right: 32px solid transparent;
    position: absolute;
    margin-top: 90px;
    margin-left: 28px;
    z-index: 5;
}

.et-train-lamp-bellow-left {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: #fff;
    display: block;
    margin-right: 15px;
    margin-top: 3px;
    float: right;
}

.et-train-lamp-bellow-right {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: #fff;
    float: left;
    display: block;
    margin-left: 15px;
    margin-top: 3px;
}

.et-col-50 {
    width: 50%;
    float: left;
    display: block;
    min-height: 1px;
}

.et-text-sm {
    font-size: 8px;
}

.et-bold {
    font-weight: 700;
}

.et-text-large {
    font-size: 1.5em;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.et-train-lamp {
    height: 15px;
    border-radius: 10px;
    background-color: #fff;
    display: inline-block;
    font-size: 10px;
    font-weight: 700;
    width: 100%;
    margin: 0 auto;
}

.et-train-block:hover .et-train-lamp,
.et-train-block:hover .et-train-lamp-bellow-left,
.et-train-block:hover .et-train-lamp-bellow-right {
    background-color: #fda32d;
}
.et-train-block-active{
    background-color: #fda32d !important;
}


.dayrunto {
    background-color: #3ba4e0;
    color: #ffffff;
    margin: 5px;
    padding: 5px;
    width: 99%;
    
}

.col-left-70 {
    width: 70%;
    float: left;
}

.col-right-30 {
    width: 30%;
    float: right;
}

.carditem {
    /* background-color: #ccc; */
    /* color: #ffffff; */
    margin-top: 5px;
    padding: 5px;
    /* color: #2573a0; */
    /* font-weight: 700; */
}

.et-col-90 {
    width: 90%;
    float: left;
    min-height: 1px;
}

.et-car-floor {
    border-radius: 10px;
    border: 3px solid #385d8a;
    margin: 0;
    padding: 25px 10px;
}

.et-full-width {
    width: 99%;
}

.et-car-nm-64-half-block {
    width: 100%;
    float: left;
    min-height: 1px;
}

.et-car-seperator {
    width: 4%;
    float: left;
    height: 158px;
    padding: 0 5px;
}

.et-car-nm-64-sit {
    width: 9.5%;
    float: left;
    min-height: 1px;
    height: 35px;
    padding: 0 2px;
    line-height: 30px;
}

.et-seat-h-35 {
    height: 35px;
    line-height: 30px;
}

.et-car-seat-left,
.et-car-seat-right {
    width: 100%;
    float: left;
    height: inherit;
    padding: 0 2px;
}

.et-col-16 {
    width: 16%;
    float: left;
    min-height: 1px;
}

.et-sit-side {
    height: 100%;
    background-color: #948a54;
    border-radius: 2px;
}

.et-col-84 {
    width: 84%;
    float: left;
    min-height: 1px;
}

.et-sit-sur-outer {
    height: 100%;
    padding: 2px 2px 2px 0;
}

.et-sit-avaiable {
    background-color: #fff;
    cursor: pointer;
} 

.et-sit-sur {
    height: 100%;
    border-radius: 5px;
    border-top: 1px solid #888;
    border-right: 1px solid #888;
    border-bottom: 1px solid #888;
    line-height: inherit;
    font-size: 1em;
}

/* .text-center {
    text-align: center !important;
} */
.text-center2{
    text-align: center !important;
    float: left !important;
    width: 100%;
    align-items: center;
}
.text-center1{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.center-home{
    text-align: center;
}

.et-col-1-20 {
    width: 5%;
    float: left;
    min-height: 1px;
}

.et-col-1-16 {
    width: 6.25%;
    float: left;
    min-height: 1px;
}

.et-car-floor-full-height {
    height: 158px;
}

.et-bed-way {
    height: 40px;
    line-height: 40px;
}

.small,
small {
    font-size: 85%;
}

.et-col-1-8 {
    width: 12.5%;
    float: left;
    min-height: 1px;
}

.et-bed-left {
    border-left: 3px solid #385d8a;
    height: 40px;
}

.et-no-padding {
    padding: 0!important;
}

.et-bed {
    height: 100%;
    margin: 0 4px -8px;
    border-radius: 5px;
    border: 1px solid #888;
    line-height: 25px;
}

.et-bed-illu {
    border-bottom: 3px solid #385d8a;
    border-left: 3px solid #385d8a;
    border-right: 3px solid #385d8a;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 10px;
    line-height: 30px;
}

.popover.top {
    margin-top: -10px;
}

.popover.top>.arrow {
    left: 50%;
    margin-left: -11px;
    border-bottom-width: 0;
    border-top-color: #999;
    border-top-color: rgba(0, 0, 0, .25);
    bottom: -11px;
}

.popover div {
    color: #555;
}

.popover-title {
    margin: 0;
    padding: 8px 14px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    border-radius: 5px 5px 0 0;
}

.popover-content {
    padding: 9px 14px;
    background: #FFFF00;
    color: #000000;
}

.popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1060;
    display: none;
    max-width: 276px;
    padding: 1px;
    text-align: left;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    white-space: normal;
}

.et-col-8-9 {
    float: left;
    min-height: 1px;
    margin: auto;
}

.et-sit-buying {
    background-color: #a6b727;
    color: #fff;
    cursor: pointer;
}

.et-bed-left .et-bed-outer {
    padding-right: 2px;
    padding-top: 3px;
    padding-bottom: 10px;
    height: 100%;
}

.et-btn-cancel {
    background: url(../images/del30.png) center no-repeat;
    color: #fff;
    text-decoration: none;
    padding: 0 3px;
    display: inline-block;
    width: 30px;
    height: 25px;
}
.et-btn-cancel1 {
    background: url(../images/del30.png) center no-repeat;
    color: #fff;
    text-decoration: none;
    display: inline-block;

    width: 30px;
    height: 25px;
}

.input-group-sm>.form-control,
.input-group-sm>.input-group-addon,
.input-group-sm>.input-group-btn>.btn {
    height: 30px;
    padding: 5px 10px;
    font-size: 15px;
    line-height: 1.5;
    border-radius: 3px;
}

.table-bordered thead td,
.table-bordered thead th {
    text-align: center;
}

h5 {
    color: #e55a05;
    font-weight: 700;
}

.et-register-block .row {
    margin-bottom: 5px;
    padding-left: 15px;
}

.et-col-md-1,
.et-col-md-10,
.et-col-md-11,
.et-col-md-12,
.et-col-md-2,
.et-col-md-3,
.et-col-md-4,
.et-col-md-5,
.et-col-md-6,
.et-col-md-7,
.et-col-md-8,
.et-col-md-9 {
    position: relative;
    min-height: 1px;
    float: left;
    display: block;
    padding-left: 15px;
    padding-right: 15px;
}

.et-col-md-12 {
    width: 100%;
}

.et-btn {
    background: #c10000 !important;
    font-size: 26px !important;
    padding: 12px 100px !important;
}

.et-col-md-1,
.et-col-md-10,
.et-col-md-11,
.et-col-md-12,
.et-col-md-2,
.et-col-md-3,
.et-col-md-4,
.et-col-md-5,
.et-col-md-6,
.et-col-md-7,
.et-col-md-8,
.et-col-md-9 {
    background: #fff !important;
}

.et-register-block label {
    font-weight: 400;
    font-size: 12px;
    padding-top: 5px;
    height: 30px;
    margin: 0;
}

.input-sm {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.et-btn {
    min-width: 80px !important;
    padding: 2px 10px;
    background-color: #0587b8;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #faf8f9;
    box-shadow: 1px 1px 1px 1px #d7d7d7;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 13px;
}

.et-col-1-18 {
    width: 5.55555556%;
    float: left;
    min-height: 1px;
}

.style-header {
    position: fixed;
    width: 100%;
    z-index: 99;
    background-color: #353232a3;
}

.width280 {
    width: 280px;
    text-align: center;
}

.width130 {
    width: 130px;
}

.width100persent {
    width: 100%;
    font-size: 18px;
}

.ul-cover-nav {
    margin: auto;
    width: fit-content;
}

.footer-cover {
    background: #171717;
    color: #ffffff;
    color: #68c7ef;
}

.footer-container {
    display: flex;
    padding: 20px 0px;
}

.width33percent {
    width: 33.33%;
}

.font-size20 {
    font-size: 20px;
}

.footer-icon {
    font-size: 40px;
    margin: 10px;
}

.footer-info {
    margin: 10px;
    color: rgb(212, 163, 77);
    text-align: left;
}
.backgroud-search-banner{
    background-color: rgb(96 189 224);
    height: 100px;
    padding: 20px;
}
.cover-contain-search-banner{
    margin: auto;
    display: flex;
}
.cover-pannel-search{
    width: 200px;
    text-align: center;
}
.txt-caption-search{
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
}
.color-white{
    color: white;
}
.align-self-center{
    align-self: center;
}
.select-style-sarch{
    width: 200px;margin: 5px;
    background-color: #936d3a;
    border: #936d3a;color: #fff;
}

.btn-search-style {
    width: 150px !important; 
    margin: 5px !important;
    color: #fff !important; 
    background-color: #fbab19 !important; 
    border: #fbab19 !important;
}

.style-input-date{
    width: 165px; margin: 5px;      
    background-color: #936d3a; 
    border: #936d3a;color: #fff;
}
.backgroud-white{
    background-color: #ffffff;
}
.backgroud-white1{
    background-color:rgba(168, 168, 168, 0.521)
}
.padding-buttom-top-10{
    padding: 10px 0px;
}
.txt-lido{
    text-align: center;color: #000;font-size: 28px;padding: 25px 0px;
}
.d-fix{
    display: flex;
    
}
.bgshare{
    height: 1980px;
    width: 100%;
    background-image: url(../images/banner2.jpg);
    filter: blur(8px);
}
.zindex{
    z-index: 1;
    position: absolute;
    display: flex;
}

.img-width-height-100px {
    width: 100px;height: 100px;
}
.title-lido{
    font-size: 20px; color: #d81b60;
}
.font-size13{
    font-size: 13px
}
.padding-buttom-top-20{
    padding: 20px 0px;
}
.txt-muave{
    color: #000; font-size: 28px; margin: 25px 0px 10px 0px;
}
.content-muave{
    font-size: 14px; width: 75%; margin: auto;
}
.margin20{
    margin: 20px;
}
.cover-baodam{
    display: flex; text-align: left;
}
.with-baodam{
    width: 33.33%; margin: 10px;     display: flex;
}
.icon-baodam{
    color:#fbab19;margin: 3px 10px;font-size: 18px;
}
.width50percent {
    width: 50%;
}
.txt-toa-tau{
    text-align: center;font-weight: 500;margin: 10px;font-size: 28px; color: #000;
}
.img-toa-tau{
    width: 100%; height: 300px;
}
.title-toa-tau{
    color: #ae8545;font-size: 18px; margin-bottom: 10px; margin-top: 5px; text-transform: uppercase; font-weight: bold; text-align: center
}
.cover-infor-toa-tau{
    display: flex; margin: auto; width: 90%; text-align: center;
}
.margin-auto {
    margin: auto;
}
.icon-toa-tau{
    width: 40px; margin: auto;
}
.padding-left-right-30{
    padding: 0px 30px;
}
.title-dich-vu{
    font-size: 28px;color: #4a4a4a; text-align: right;text-transform: uppercase;
}
.cover-dich-vu{
    padding: 40px 0px;display: flex;
}
.with15percent{
    width: 15%;
}
.with20percent{
    width: 20%;
} 
.margin0{
    margin: 0px;
}
.width95percent{
    width: 95% !important;
}
.title-quydinh{
    font-size: 24px;
    text-align: left;
    color: #2fa4e7;
}
.title-quydinh:hover{
    text-decoration: underline;
    cursor: pointer;
}
.contain-quydinh{
    text-align: left;
    font-size: 20px;
    margin: 25px;
}
.title-quydinh1{
    font-size: 22px;
    text-align: left;
    color: #0587b8;
    margin-left: 35px;
}
.title-h1{
    font-size: 20px;
    color: #0587b8;
    padding: 10px 0px;
    margin-left: 15px;
    text-align: center;
    font-weight: 600;
}

.label-form{
    width: 120px;
    font-size: 20px;
    align-self: center;
    text-align: right;
    margin-right: 20px;
}
.btn-check-price{
    background-color: rgb(243, 151, 31)  !important;
    color: black!important;
    border: 2px solid rgb(243, 151, 31) !important;
    border-radius: .0rem !important; 
    width: 180px;
    height: 40px;
    padding-bottom: 5px;
    font-size: 21px !important;
    text-align: center;
    box-shadow: 1px 1px 5px black;
    margin-bottom: 10px;
} 
.btn-check-price:hover{
    background-color: rgb(60, 199, 241)  !important;
    border: 2px solid rgb(60, 199, 241) !important;

} 
.alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #3a87ad;
    border-radius: 5px;
}
.txt-alert-info{
    padding: 20px;
    font-size: 16px;
}
.info-transaction-text{
    padding: 10px;
    color: #dd5600;
    font-weight: 600;
}
.float-right{
    float: right;
}
.et-car-icon {
    margin: 0 1px 10px;
    border-radius: 15%;
    height: 18px;
    overflow: visible;
}
.et-car-block {
    width: 50px!important;
    height: 50px;
    min-height: 1px;
    cursor: pointer;
    display: inline-block;
    float: none;
}
.et-car-icon-selected {
    background-color: rgb(243, 151, 31);
    border-radius: 10%;
}
.et-car-icon img {
    width: 100%;
    height: 130%;
}
.et-car-icon-avaiable {
    background-color: #80b5d6;
}
.et-car-label {
    font-size: 10px;
}
.text-info {
    color: #3a87ad;
}
.margin10{
    margin: 10px;
}

.train-se-lam-w{
    width: 40%; 
    margin-bottom: 3px;
    margin: auto !important;
}
.color-train-se-lam {
    color: rgb(85, 85, 85);
}
.width70-text-end{
    width:70%; text-align: end;
}
.widhth30-text-start{
    width:30%; text-align: start;
}
.margin-left-5px{
    margin-left: 5px
}

.margin-left-20px{
    margin-left: 20px
}

.margin-right-5px{
    margin-right: 5px
}

.backgroud-train-toa{
    background-color: #0091d4;
}
.border-card{
    border: 1px solid #ccc;
}
.cover-txt-cart{
    color: #2573a0; font-weight: 600; border-bottom: 2px solid #2573a0;
}
.padding-10{
    padding: 0px;
}
.btn-buy-ticket{
    background-color: red; padding: 10px; width: 60%; margin: auto; text-align: center; color: #ffffff;cursor: pointer
}
.history-user{
    display: none;
}
.padding-20-50{
    padding: 20px 90px;
}
.class-hide{
    display: none;
}
.class-btn-station{
    border: 1px solid #fd9743ad;
    width: 120px;
    text-align: center;
    padding: 10px;
    font-size: 17px;
    font-weight: 500;
    border-radius: 1px;
    float: left;
    margin: 8px 8px;
    cursor: pointer;
}
.class-btn-station:hover{
    background-color: #53a6f0;
    border: 1px solid #fd9743ad;
}
.class-btn-station1{
    border: 1px solid #fd9743ad;
    width: 120px;
    text-align: center;
    padding: 10px;
    font-size: 17px;
    font-weight: 500;
    border-radius: 1px;
    float: left;
    margin: 8px 8px;
    cursor: pointer;
}
.class-btn-station1:hover{
    background-color: #53a6f0;
    border: 1px solid #fd9743ad;
}
.display-flow-root{
    display: flow-root;
}
.date-time-booking .react-datepicker__day{
    width: 7.7rem;
    margin: 1.166rem;
    line-height: 3.7rem;    
}

.date-time-booking .react-datepicker__day-name{
    width: 7.7rem;
    margin: 1.166rem;
    line-height: 3.7rem;
}
.date-time-booking .react-datepicker{
    font-size: 1.8rem;
    font-weight: inherit;
}
.auto-w90{
    width: 90%;
    margin: auto;
}
.class-train-booking {
    background-color: #9ad1ec;
    padding: 15px 40px;
    font-size: 15px;
    width: 85%;
    margin: 8px auto;
    display: flow-root;
    border-radius: 10px;
    cursor: pointer;
}
.class-train-booking:hover{
    background-color: #63bfec;
}
.class-time-train-booking{
    border-radius: 7px;
    background-color: #006da2;
    color: #ffffff;
    /* display: initial; */
    padding: 8px;
    /* margin: 5px; */
    display: inline-block;
}
.title-es-booking{
    text-align: center;
    font-size: 26px;
}
.font-size60{
    font-size: 60px;
}
.time-end-es-booking{
    margin: auto;
    text-align: center;
    width: 50%;
    background-color: #189ada;
    padding: 5px;
    border-radius: 8px;
}
.w40percent-right{
    text-align: right;
    width: 40%;
}
.w40percent-left{
    text-align: left;
    width: 40%;
}
.width20percent{
    width: 20%;
}
.cart-khoan{
    text-align: center;text-align: center; font-size: 20px; margin: 10px;
}
.img-login{
    width: 130px;
}

.cover-input-login{
    width: 300px; margin: 20px auto;
}
.menu-admin{
    width: 350px;
}
.menu-br{
    height: 50px;  display: flex;background: #313335;
    
}
.cv-image-menu{
    width: 150px; margin:5px auto;
}
.icon-menu-sty{
    align-self: center;font-size: 30px;margin: 10px;color: #ffffff;
}
.backgroud-in-menu{
    background-color: #444343; height: 100%; min-height: 700px;
}
.padding-top-10{
    margin-top: 10px;
}
.menu-bodername{
    border: 0px solid; height: 100%; width: 100%; color: #ffffff;
}
.name-backgr{
    height: 50px;background: #444343;font-size: 18px; width: 100%;
    box-shadow: 2px 1px 5px rgb(8, 8, 8);
}
.icon-user{
    font-size: 30px; margin-right: 10px;
}
.btn-home{
    color: black; display: flex;margin-top: 10px;font-size: 12px;
}
.schedule-width{
    color: black; font-size: 12px;width: 100%;
}
.schedule-backgr{
    margin: 10px; background-color: #ffffff; padding: 10px;
}
.width25percent{
    width: 25%;
}
.padding-5px{
    padding: 5px;
}
.cover-btn-schedule{
    margin: 0px 10px; display: flex;
}
.btn-search-f{
    width: 120px; padding: 10px; background-color: #3c8dbc; color: #ffffff; text-align: center; border-radius: 10px; text-align: center; margin: 0px 5px;
}
.btn-add-f{
    width: 120px; padding: 10px; background-color: darkgoldenrod; color: #ffffff; text-align: center; border-radius: 10px; text-align: center; margin: 0px 5px;
}
.margin-10px{
    margin: 10px;
}
.mac-train{
    background-color: #f3971f7d;
}
.mun-train{
    width: 120px;
    background-color: #f9cc91;
}
.train-in-header{
    background-color: #f9cc91;
}
.train-money-header{
    background-color: #f9cc91;
}
.res-sdf{
    background-color: lavender;width: 25px;
}
.tabl-cell{
    padding: 0px;border-bottom: solid 2px #ccc;
}
.intab{
    font-size: 10px;border-bottom: solid 2px #ccc;
}
.tag-mone{
    border-bottom: solid 2px #ccc;
}
.font-size12px{
    font-size: 12px;
}
.table-responsive{
display: initial !important;
}
.inpu-type-ticket{
    border-top-right-radius: 4px !important;border-bottom-right-radius: 4px !important;
}
.width84px{
    width: 84px;
}
.width40a{
    width: 40%;
}
.width20a{
    width: 20%;
}
.style-input{
    margin-bottom: 6px;width: 100%;
}
.detail-title{
    text-align: center;text-align: center; font-size: 20px; margin: 10px;
}
.detail-item{
    color: #000;background:#FFFF00;
}
.div1{
    width: 100%; margin: 10px 0px;
}
.input-pay{
    border-top-right-radius: 4px !important;border-bottom-right-radius: 4px !important;
}
.width50percentlefft{
    width: 50%; float: left;
}
.display-none{
display: none;
}
.d-l1{
    padding-left:5px;
}
.d-l2{
    width:100%; height:10px; float:left;
}
.dic-12{
    padding: 0px;border-bottom: solid 2px #ccc;
}
.smsd{
    margin-bottom: 6px;width: 100%;
}
.ww84{
    width: 84px;
}
.divs{
    font-size: 15px;
    border-bottom: solid 2px #ccc;
}
.mmda{
    border-bottom: solid 2px #ccc;
}
.vlt-ali{
    vertical-align: middle
}
.sdasda{
    float:left;padding: 0px 5px; width:400px;
}
.ddtssa{
    display: block; width: 100%;
}
.sda-ff{
    position: absolute; width:375px;
}
.sau-tin{
    width: 350px; margin: auto;
}
.sub-menu-user{
    width: 150px;
    position: absolute;
    right: 0;
    top: 50px;
    background-color: #3c8dbc;
    z-index: 2;
}
.text-menu{
    border: 1px solid;
    text-align: center;
    cursor: pointer;
}
.cover-table-rev{
    width: 1066px;
   
}
.scroll-table{
    overflow-x:auto;
}
.hover-tooltip{
    position: absolute;
    background: #a2a2a2;
    color: #ffffff;
    padding: 5px;
    bottom: 55px;
    border-radius: 7px;
}
.input-add-lt{
    width: 93%;
    margin: auto;
}
.color-black{
    color: black;
}
.padding-right-0{
    padding-right: 0px
}
.et-sit-bought {
    background-color: #ff3c00;
    color: #fff;
    border-radius: 10%;
}
.et-sit-booked {
    background-color: #fec306;
}
.width-75percent{
    width: 75%;
}
.width50persent{
    width: 50%;
}
.width50persent1{
    width: 50%;
    float: left;
}


.width11persent{
    width: 11%;
}

.row-left-right-3px{
    margin-right: 3px !important;
    margin-left: 3px !important;
}
.height-240px{
    height: 240px;
}
.height-120px{
    height: 120px;
}
.border-0px{
    border: 0px;
}
.App-logo{
    float:left;
}
.App2-logo{
    float:right;
}
.Title-Header{
    color: rgb(102, 208, 250);
    float: left;
    margin-top: 15px;
    font-size: 22px;
}
.Title-Header1{
    color: rgb(102, 208, 250);
    float: right;
    margin-top: 15px;
    font-size: 22px;
}

.color-icon{
    color: #fd7e14;
}
.text-grey{
    color: white;
}
.nav-item:hover{
    border-radius: 2px;
    box-shadow: 0 0 0 0px #fff !important;
    background-color: #fa9631;

}

.banner-cover{
    background-color: #171717;
    padding: 0px 50px;
    width: 100%;
    height: 60px;
}
.navbar{
    text-align: center !important;
}
.navbarv2{
    padding: .0rem 1rem !important;
    align-items: center !important;
}
.ul-cover-nav {
    margin: auto;
    width: fit-content;
}
.nav-item{
    margin: 0rem 1rem !important;
}
.wieght1{
    width: 49%;
    float: left;
}
.wieght2{
    width: 49%;
    float: right;
    text-align: right;
}


/*================= Banner =================  */
/*================= Banner =================  */
/*================= Banner =================  */


.sub-bg {
    width: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    background-color: #000;
    min-height: 500px;
    padding: 20px 0;
    background-size: 100% auto;
}
.sub-bg-train {
    background-image: url(../images/banner3.jpg);
}

.container1 {
    width: 1170px;
    margin-top: 130px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row2 {
    margin-right: -15px;
    margin-left: -15px;
    color: white;
}

.search-wrap {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 15px 0 15px 0;
    background: rgba(84, 82, 85, 0.329);
    color: #fff;
    font-size: 13px;
    z-index: 99;
}

.search-wrap .notice-info {
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.5);
}
.text-red {
    color: #e1301f;
}
.row1 {
    margin: 5px;

}

.form-control {
    display: block;
    width: 90% !important;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #fa9631 !important;
    border-radius: .0rem !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out ;
}

.with20percent{
    width: 20%;
}

.form-Tim{
    margin-top: 25px !important;
}

.form-control1 {
    display: block;
    width: 90% !important;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    background-color: transparent;
    background-clip: padding-box;
    border: 2px solid #fa9631 !important;
    border-radius: .0rem !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-Tims {
    border-radius: 0px !important;
    font-size: 16px !important;
    padding: 7px 12px !important;
    width: 100% !important;
    
}




.book-step-wrap {
    width: 1070px;
    margin: 20px auto;
    padding: 0 0px;
}

.sx-hide {
    display: block;
}

.step1 {
    width: 30%;
    background: url(../images/step1-train.png) no-repeat;
}
.step2 {
    width: 30%;
    background: url(../images/step2-train.png) no-repeat;
}
.step3 {
    width: 30%;
    background: url(../images/step3-train.png) no-repeat;
}
.arrow {
    min-height: 65px;
    background: url(../images/step-arrow.png) no-repeat 90%;
}
.book-step-wrap li {
    float: left;
    list-style: none;
    padding-left: 100px;
    min-height: 70px;
}
.book-step-wrap li span {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
}

.banner-line{
    background-color: rgb(0, 0, 0);
    height: 20px;
    width: 100%;
}
.banner-line1{
    background-color: rgba(0, 0, 0, 0.336);
    height: 20px;
    width: 100%;
}


/*===================== Footer ========================*/
.footer-line{

    background: #2b2b2b85;
    height: 30px;
}
.width25percent{
    width: 25%;
}

.footer-icon{
    color: rgb(236, 150, 52) !important;
}

/*======================================================*/
.color-b{
    background-color: white;
}

.control-label{
    font-size: 15px;
    margin-left: 5px;
}

/*==============QUAN LÝ ĐẶT CHỖ=========================*/
/*============== XEM THÔNG TIN VÉ ĐẶT =================*/
.ff{
    width: 100%;
    height: 40px;
    text-align: center;
}

.rad{
    border: 1px solid rgb(236, 150, 52) !important;
}

.clo{
    color: black !important;
}

/*================ CHI TIẾT =======================*/
/*================ Detail  =======================*/



/*================ ScheduleMangagement ====================*/
.mar{
    margin: 2px;
}

/*======= HandBook =========*/
.tab-pane{
    margin: 0px 70px;
}

/*==============Admin=================*/
.bga{
    height: 800px;
    background: #092756;
	background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg,  #670d10 0%, #092756 100%);
	background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg,  #670d10 0%,#092756 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );
}


.cover-login{
    text-align: center;
    padding-top: 200px;
    
}
.ip { 
	width: 100%; 
	margin-bottom: 10px; 
	background: rgba(0,0,0,0.3);
	border: none;
	outline: none;
	padding: 10px;
	font-size: 13px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
}
.ip:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }

.logologin{
    height: 150px;
    width: 150px;
    margin: auto;
    height: 150px;
    padding-right:280px;
    align-items: center;
    align-self: center;
}

.lg2{
    height: 200px !important;
}

.titlelogin{
    height: 40px;
    width: 100%;
    font-size: 30px;
    margin-top: 50px;
    text-align: center;
    color: rgb(97 218 251);
}

.btnlogin{
    background-color:rgb(39, 136, 201) !important;
}

.btnlogin:hover{
    background-color:rgb(97 218 251) !important;
}

/*============== Menu =================*/
.titlemenu1{
    text-align: center !important;
    font-size: 28px !important;
    align-items: center;
    align-self: center;
    box-shadow: 1px 2px 5px black;
    
}

.titlemenu{
    color:  rgb(236, 150, 52) !important;
    width: 100%;
    text-align: center;
}

/*============== THÔNG TIN ĐẶT VÉ =================*/
.conttdv{

    margin: 20px;
}
.btnttdv{
    margin-top: 20px;
}

.btnIn{
    margin: 0 10px;
    background-color: rgb(236, 150, 52) !important;
    border:1px solid transparent !important;
    box-shadow: 1px 1px 5px black;
}
.btnIn:hover{

    background-color: rgb(243, 173, 94) !important;

}

.btnHuy{
    margin: 0 10px;
    float: right;   
    background-color: rgb(255, 0, 0) !important;
    border:1px solid transparent !important;
    box-shadow: 1px 1px 5px black;
}

.btnHuy:hover{
    background-color: rgb(255, 80, 49) !important;
}

.BoxTT
{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}



/*======================= Chi Tiet ================================*/
.ngangchitiet{
    width: 100%;
}
.gachchan{
    height: 1px;
    width: 100%;
    background-color: black;
}

.fleft{
    float: left;
}

.containerTenToa{
    height: 30px;
    width: 100%;
    text-align: center;
    font-size: 22px;

    color: rgb(33, 145, 250);
    margin-bottom: 10px;
}

/*===========logo login============*/

.logo-login{
    width: 100%;
    height: 200px;
    padding: 10px;
}

.logo-circle{
    width: 150px;
    margin: auto;
    height: 150px;
    align-items: center;
    align-self: center;
    border-radius: 50%;
    background-image: url(../images/banner2.jpg); 
    background-size: 200px 150px;
    background-repeat: no-repeat;
    background-color: azure;
    background-position: 50% 50%;
}

.none-select-text{
    text-align: center;
    font-size: 22px;
    color: azure;
}

.border-qllt{
    width: 100%;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.171);
    box-shadow: 1px 1px 5px black;
    padding: 10px;
}

.border-qllt1{
    width: 100%;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.171);
    box-shadow: 1px 1px 5px black;
    padding: 10px;
}


/*================================*/
.bgqllt{
    padding: 30px;
}
.with50{
    width: 50%;
    float: left
}
.width5percent{
    width: 5%;
}
.width20percent{
    width: 20%;
}

.width50percent{
    width: 50%;
}
.width70percent{
width: 70%;
}

.margin-left1-20px{
    margin-left: 20px;
    text-align: right;
    padding-top: 10px;
}

.margin-left1-20px{
    margin-left: 20px;
    text-align: right;
    padding-top: 8px;
    padding-right: 10px;
}

.titlettlt{
    font-size: 22px;
    width: 100%;
    height: 30px;
    background-color: rgb(236, 150, 52);
    padding: 0px 50px;
    box-shadow: 1px 1px 5px black;
}
.kt50{
    height: 50px;
}

.btnback{
    margin-top: 10px;
    background-color:rgb(236, 150, 52) !important;
    border:rgb(236, 150, 52) !important; ;
}
.btnback:hover{
    margin-top: 10px;
    background-color:rgb(243, 180, 108) !important;
    border:rgb(236, 150, 52) !important; ;
    text-decoration: none !important;
}

.hh{
    height: 120px;
}

.colwh{
    color: black;
    padding: 20px;
}

.luuy{
    color: red;
}
.tk7{
    width: 200px;
    background: rgb(236, 150, 52);

    box-shadow: 1px 1px 3px black;
    text-align: center;
}

.rbtn{
    padding: 0 10px;
}

.tk30{
    width: 350px;
    background: rgb(236, 150, 52);
    

    box-shadow: 1px 1px 3px black;
    text-align: center;

}
.Khungg{
    width: 1280px;
    height: 125px;
    background-color: rgb(201, 200, 200);
}

.chartt{
    width: 1200px;
    border:1px solid rgb(236, 150, 52);
    margin-left: 40px;
}

.margin-40px{
    margin: 0 40px;
}

.regulations-title{
    color: black;
    font-size: 24px;
}

.regulations{
    color: black;
    font-size: 20px;
}
.arrlet{
    color: red;
    font-size: 20px;

}

/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/

#calltrap-btn {
    background-color: #2074a1;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: block;
    height: 64px;
    line-height: 100px;
    opacity: 0.7;
    position: fixed;
    left: 35px;
    top: 550px;
    text-align: center;
    width: 64px;
    z-index: 9999;
    -webkit-animation: calltrap_opacity 3s infinite linear;
    -moz-animation: calltrap_opacity 3s infinite linear;
    -o-animation: calltrap_opacity 3s infinite linear;
    animation: calltrap_opacity 3s infinite linear
}
 
#calltrap-btn.calltrap_offline {
    background-color: #1CB2ED
}
 
#calltrap-ico {
    width: 32px;
    height: 32px;
    position: absolute;
    margin: auto;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    border: 0;
    -webkit-border-radius: 50% !important;
    border-radius: 50% !important;
    -o-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-animation: uptocallmini 1.5s 0s ease-out infinite;
    -moz-animation: uptocallmini 1.5s 0s ease-out infinite;
    -o-animation: uptocallmini 1.5s 0s ease-out infinite;
    animation: uptocallmini 1.5s 0s ease-out infinite
}
 
#calltrap-ico:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    top: 0;
    left: 0;
    background-image: url("phone-call.png");
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-animation: calltrap_spin 3s infinite linear;
    -moz-animation: calltrap_spin 3s infinite linear;
    -o-animation: calltrap_spin 3s infinite linear;
    animation: calltrap_spin 3s infinite linear
}
 
.calltrap_offline #calltrap-ico {
    -webkit-animation: uptocallmini_offline 1.5s 0s ease-out infinite;
    -moz-animation: uptocallmini_offline 1.5s 0s ease-out infinite;
    -o-animation: uptocallmini_offline 1.5s 0s ease-out infinite;
    animation: uptocallmini_offline 1.5s 0s ease-out infinite
}
 
#calltrap-overlay {
    background-color: #191919;
    background-color: rgba(25, 25, 25, 0.9);
    position: fixed;
    z-index: 9998;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    text-align: center;
    display: none
}
 
#calltrap-overlay .b-calltrap-overlay {
    display: table;
    width: 100%;
    height: 100%
}
 
#calltrap-overlay .b-calltrap-overlay__header, #calltrap-overlay .b-calltrap-overlay__body, #calltrap-overlay .b-calltrap-overlay__footer {
    display: table-row;
    padding: 0;
    margin: 0
}
 
#calltrap-overlay .b-calltrap-overlay__header-block, #calltrap-overlay .b-calltrap-overlay__body-block, #calltrap-overlay .b-calltrap-overlay__footer-block {
    display: table-cell;
    vertical-align: middle;
    text-align: center
}
 
#calltrap-overlay .b-calltrap-overlay__body-block {
    padding: 0 7px
}
 
#calltrap-overlay .b-calltrap-overlay__header, #calltrap-overlay .b-calltrap-overlay__footer {
    height: 1px
}
 
#calltrap-overlay .b-calltrap__container {
    background-color: white;
    border: 5px solid #2074a1;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin: 0;
    padding: 0;
    max-width: 500px;
    display: block;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.3;
    position: relative;
    font-family: Tahoma, Arial, self-serif !important
}
 
@media screen and (min-width: 1px) and (max-width: 500px) {
    #calltrap-overlay .b-calltrap__container {
        width: 290px
    }
}
 
#calltrap-overlay .b-calltrap__close {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 20px;
    height: 20px;
    opacity: 0.5;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease
}
 
#calltrap-overlay .b-calltrap__close:hover {
    opacity: 1
}
 
#calltrap-success, #calltrap-form {
    display: block
}
 
#calltrap-success .b-calltrap_form__fields, #calltrap-form .b-calltrap_form__fields {
    margin: 20px 25px 35px
}
 
#calltrap-success .b-calltrap_form__title, #calltrap-form .b-calltrap_form__title {
    font-size: 20px;
    margin: 0 0 17px;
    text-align: left
}
 
@media screen and (min-width: 1px) and (max-width: 500px) {
    #calltrap-success .b-calltrap_form__title, #calltrap-form .b-calltrap_form__title {
        padding-right: 20px
    }
}
 
#calltrap-success .b-calltrap_form__text, #calltrap-form .b-calltrap_form__text {
    text-align: left
}
 
#calltrap-success .b-calltrap_form__text p, #calltrap-form .b-calltrap_form__text p {
    margin: 0 0 0.55em
}
 
#calltrap-success .b-calltrap_form__input, #calltrap-form .b-calltrap_form__input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
    padding: 0 15px 0;
    height: 44px;
    line-height: 40px;
    background-color: white;
    border: 2px solid #ccc;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    display: block;
    width: 100%;
    outline: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease
}
 
@media screen and (min-width: 1px) and (max-width: 500px) {
    #calltrap-success .b-calltrap_form__input, #calltrap-form .b-calltrap_form__input {
        margin-bottom: 13px
    }
}
 
#calltrap-success .b-calltrap_form__input.error, #calltrap-form .b-calltrap_form__input.error {
    background-color: #ffc0c0;
    color: red;
    border-color: red
}
 
#calltrap-success .b-calltrap_form__input:disabled, #calltrap-form .b-calltrap_form__input:disabled {
    background-color: #eee;
    border-color: #bdbdbd;
    cursor: default
}
 
#calltrap-success .b-calltrap_form__input:focus, #calltrap-form .b-calltrap_form__input:focus {
    border: 2px solid #2074a1
}
 
#calltrap-success .b-calltrap_form__submit, #calltrap-form .b-calltrap_form__submit {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #2074a1;
    border: 2px solid #2074a1;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: medium none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 0;
    height: 44px;
    line-height: 40px;
    outline: medium none;
    display: inline-block;
    width: 180px;
    text-align: center;
    outline: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease
}
 
@media screen and (min-width: 1px) and (max-width: 500px) {
    #calltrap-success .b-calltrap_form__submit, #calltrap-form .b-calltrap_form__submit {
        width: 100%
    }
}
 
#calltrap-success .b-calltrap_form__submit:hover, #calltrap-form .b-calltrap_form__submit:hover {
    background-color: #1c658c
}
 
#calltrap-success .b-calltrap_form__submit:disabled, #calltrap-form .b-calltrap_form__submit:disabled {
    background-color: #bdbdbd !important;
    cursor: default
}
 
#calltrap-success .b-calltrap_form__controls, #calltrap-form .b-calltrap_form__controls {
    margin: 20px 0 0;
    padding: 0;
    padding: 0 200px 0 0
}
 
@media screen and (min-width: 1px) and (max-width: 500px) {
    #calltrap-success .b-calltrap_form__controls, #calltrap-form .b-calltrap_form__controls {
        padding: 0
    }
}
 
#calltrap-success .b-calltrap_form__controls-item, #calltrap-form .b-calltrap_form__controls-item {
    position: relative;
    float: right
}
 
@media screen and (min-width: 1px) and (max-width: 500px) {
    #calltrap-success .b-calltrap_form__controls-item, #calltrap-form .b-calltrap_form__controls-item {
        float: none
    }
}
 
#calltrap-success .b-calltrap_form__controls-left, #calltrap-form .b-calltrap_form__controls-left {
    margin-left: -100%;
    width: 100%
}
 
@media screen and (min-width: 1px) and (max-width: 500px) {
    #calltrap-success .b-calltrap_form__controls-left, #calltrap-form .b-calltrap_form__controls-left {
        margin-left: 0
    }
}
 
#calltrap-success .b-calltrap_form__controls-right, #calltrap-form .b-calltrap_form__controls-right {
    margin-right: -200px;
    overflow: visible;
    width: 200px;
    text-align: right
}
 
@media screen and (min-width: 1px) and (max-width: 500px) {
    #calltrap-success .b-calltrap_form__controls-right, #calltrap-form .b-calltrap_form__controls-right {
        margin-right: 0;
        width: auto;
        text-align: left
    }
}
 
#calltrap-success .b-calltrap_form__controls-clear, #calltrap-form .b-calltrap_form__controls-clear {
    clear: both
}
 
#calltrap-success {
    display: none
}
 
#calltrap-overlay.calltrap_offline .b-calltrap_form__submit {
    background-color: #1CB2ED
}
 
#calltrap-overlay.calltrap_offline .b-calltrap_form__submit:hover {
    background-color: #2e8c1c
}
 
#calltrap-overlay.calltrap_offline .b-calltrap_form__input:focus {
    border-color: #1CB2ED
}
 
#calltrap-overlay.calltrap_offline .b-calltrap__container {
    border-color: #1CB2ED
}
 
@-webkit-keyframes calltrap_opacity {
    0% {
        opacity: 1
    }
    57% {
        opacity: 0.75
    }
    75% {
        opacity: 0.95
    }
    100% {
        opacity: 1
    }
}
 
@-moz-keyframes calltrap_opacity {
    0% {
        opacity: 1
    }
    57% {
        opacity: 0.75
    }
    75% {
        opacity: 0.95
    }
    100% {
        opacity: 1
    }
}
 
@-o-keyframes calltrap_opacity {
    0% {
        opacity: 1
    }
    57% {
        opacity: 0.75
    }
    75% {
        opacity: 0.95
    }
    100% {
        opacity: 1
    }
}
 
@keyframes calltrap_opacity {
    0% {
        opacity: 1
    }
    57% {
        opacity: 0.75
    }
    75% {
        opacity: 0.95
    }
    100% {
        opacity: 1
    }
}
 
@-webkit-keyframes calltrap_spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    30% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    33% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg)
    }
    36% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg)
    }
    39% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg)
    }
    42% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg)
    }
    45% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg)
    }
    48% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
        opacity: 1
    }
    51% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg)
    }
    54% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg)
    }
    57% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
}
 
@-moz-keyframes calltrap_spin {
    0% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    30% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    33% {
        -moz-transform: rotate(-10deg);
        transform: rotate(-10deg)
    }
    36% {
        -moz-transform: rotate(10deg);
        transform: rotate(10deg)
    }
    39% {
        -moz-transform: rotate(-10deg);
        transform: rotate(-10deg)
    }
    42% {
        -moz-transform: rotate(10deg);
        transform: rotate(10deg)
    }
    45% {
        -moz-transform: rotate(-10deg);
        transform: rotate(-10deg)
    }
    48% {
        -moz-transform: rotate(10deg);
        transform: rotate(10deg);
        opacity: 1
    }
    51% {
        -moz-transform: rotate(-10deg);
        transform: rotate(-10deg)
    }
    54% {
        -moz-transform: rotate(10deg);
        transform: rotate(10deg)
    }
    57% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg)
    }
}
 
@-o-keyframes calltrap_spin {
    0% {
        -o-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    30% {
        -o-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    33% {
        -o-transform: rotate(-10deg);
        transform: rotate(-10deg)
    }
    36% {
        -o-transform: rotate(10deg);
        transform: rotate(10deg)
    }
    39% {
        -o-transform: rotate(-10deg);
        transform: rotate(-10deg)
    }
    42% {
        -o-transform: rotate(10deg);
        transform: rotate(10deg)
    }
    45% {
        -o-transform: rotate(-10deg);
        transform: rotate(-10deg)
    }
    48% {
        -o-transform: rotate(10deg);
        transform: rotate(10deg);
        opacity: 1
    }
    51% {
        -o-transform: rotate(-10deg);
        transform: rotate(-10deg)
    }
    54% {
        -o-transform: rotate(10deg);
        transform: rotate(10deg)
    }
    57% {
        -o-transform: rotate(0deg);
        transform: rotate(0deg)
    }
}
 
@keyframes calltrap_spin {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    30% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    33% {
        -webkit-transform: rotate(-10deg);
        -moz-transform: rotate(-10deg);
        -o-transform: rotate(-10deg);
        transform: rotate(-10deg)
    }
    36% {
        -webkit-transform: rotate(10deg);
        -moz-transform: rotate(10deg);
        -o-transform: rotate(10deg);
        transform: rotate(10deg)
    }
    39% {
        -webkit-transform: rotate(-10deg);
        -moz-transform: rotate(-10deg);
        -o-transform: rotate(-10deg);
        transform: rotate(-10deg)
    }
    42% {
        -webkit-transform: rotate(10deg);
        -moz-transform: rotate(10deg);
        -o-transform: rotate(10deg);
        transform: rotate(10deg)
    }
    45% {
        -webkit-transform: rotate(-10deg);
        -moz-transform: rotate(-10deg);
        -o-transform: rotate(-10deg);
        transform: rotate(-10deg)
    }
    48% {
        -webkit-transform: rotate(10deg);
        -moz-transform: rotate(10deg);
        -o-transform: rotate(10deg);
        transform: rotate(10deg);
        opacity: 1
    }
    51% {
        -webkit-transform: rotate(-10deg);
        -moz-transform: rotate(-10deg);
        -o-transform: rotate(-10deg);
        transform: rotate(-10deg)
    }
    54% {
        -webkit-transform: rotate(10deg);
        -moz-transform: rotate(10deg);
        -o-transform: rotate(10deg);
        transform: rotate(10deg)
    }
    57% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg)
    }
}
 
@-webkit-keyframes uptocallmini {
    0% {
        -webkit-box-shadow: 0 0 8px 6px rgba(32, 116, 161, 0), 0 0 0px 0px transparent, 0 0 0px 0px rgba(32, 116, 161, 0);
        box-shadow: 0 0 8px 6px rgba(32, 116, 161, 0), 0 0 0px 0px transparent, 0 0 0px 0px rgba(32, 116, 161, 0)
    }
    10% {
        -webkit-box-shadow: 0 0 8px 6px #2074a1, 0 0 12px 10px transparent, 0 0 12px 14px #2074a1;
        box-shadow: 0 0 8px 6px #2074a1, 0 0 12px 10px transparent, 0 0 12px 14px #2074a1
    }
    100% {
        -webkit-box-shadow: 0 0 8px 6px rgba(32, 116, 161, 0), 0 0 0px 40px transparent, 0 0 0px 40px rgba(32, 116, 161, 0);
        box-shadow: 0 0 8px 6px rgba(32, 116, 161, 0), 0 0 0px 40px transparent, 0 0 0px 40px rgba(32, 116, 161, 0)
    }
}
 
@-moz-keyframes uptocallmini {
    0% {
        box-shadow: 0 0 8px 6px rgba(32, 116, 161, 0), 0 0 0px 0px transparent, 0 0 0px 0px rgba(32, 116, 161, 0)
    }
    10% {
        box-shadow: 0 0 8px 6px #2074a1, 0 0 12px 10px transparent, 0 0 12px 14px #2074a1
    }
    100% {
        box-shadow: 0 0 8px 6px rgba(32, 116, 161, 0), 0 0 0px 40px transparent, 0 0 0px 40px rgba(32, 116, 161, 0)
    }
}
 
@-o-keyframes uptocallmini {
    0% {
        box-shadow: 0 0 8px 6px rgba(32, 116, 161, 0), 0 0 0px 0px transparent, 0 0 0px 0px rgba(32, 116, 161, 0)
    }
    10% {
        box-shadow: 0 0 8px 6px #2074a1, 0 0 12px 10px transparent, 0 0 12px 14px #2074a1
    }
    100% {
        box-shadow: 0 0 8px 6px rgba(32, 116, 161, 0), 0 0 0px 40px transparent, 0 0 0px 40px rgba(32, 116, 161, 0)
    }
}
 
@keyframes uptocallmini {
    0% {
        -webkit-box-shadow: 0 0 8px 6px rgba(32, 116, 161, 0), 0 0 0px 0px transparent, 0 0 0px 0px rgba(32, 116, 161, 0);
        box-shadow: 0 0 8px 6px rgba(32, 116, 161, 0), 0 0 0px 0px transparent, 0 0 0px 0px rgba(32, 116, 161, 0)
    }
    10% {
        -webkit-box-shadow: 0 0 8px 6px #2074a1, 0 0 12px 10px transparent, 0 0 12px 14px #2074a1;
        box-shadow: 0 0 8px 6px #2074a1, 0 0 12px 10px transparent, 0 0 12px 14px #2074a1
    }
    100% {
        -webkit-box-shadow: 0 0 8px 6px rgba(32, 116, 161, 0), 0 0 0px 40px transparent, 0 0 0px 40px rgba(32, 116, 161, 0);
        box-shadow: 0 0 8px 6px rgba(32, 116, 161, 0), 0 0 0px 40px transparent, 0 0 0px 40px rgba(32, 116, 161, 0)
    }
}
 
@-webkit-keyframes uptocallmini_offline {
    0% {
        -webkit-box-shadow: 0 0 8px 6px rgba(53, 161, 32, 0), 0 0 0px 0px transparent, 0 0 0px 0px rgba(53, 161, 32, 0);
        box-shadow: 0 0 8px 6px rgba(53, 161, 32, 0), 0 0 0px 0px transparent, 0 0 0px 0px rgba(53, 161, 32, 0)
    }
    10% {
        -webkit-box-shadow: 0 0 8px 6px #35A120, 0 0 12px 10px transparent, 0 0 12px 14px #35A120;
        box-shadow: 0 0 8px 6px #35A120, 0 0 12px 10px transparent, 0 0 12px 14px #35A120
    }
    100% {
        -webkit-box-shadow: 0 0 8px 6px rgba(53, 161, 32, 0), 0 0 0px 40px transparent, 0 0 0px 40px rgba(53, 161, 32, 0);
        box-shadow: 0 0 8px 6px rgba(53, 161, 32, 0), 0 0 0px 40px transparent, 0 0 0px 40px rgba(53, 161, 32, 0)
    }
}
 
@-moz-keyframes uptocallmini_offline {
    0% {
        box-shadow: 0 0 8px 6px rgba(53, 161, 32, 0), 0 0 0px 0px transparent, 0 0 0px 0px rgba(53, 161, 32, 0)
    }
    10% {
        box-shadow: 0 0 8px 6px #35A120, 0 0 12px 10px transparent, 0 0 12px 14px #35A120
    }
    100% {
        box-shadow: 0 0 8px 6px rgba(53, 161, 32, 0), 0 0 0px 40px transparent, 0 0 0px 40px rgba(53, 161, 32, 0)
    }
}
 
@-o-keyframes uptocallmini_offline {
    0% {
        box-shadow: 0 0 8px 6px rgba(53, 161, 32, 0), 0 0 0px 0px transparent, 0 0 0px 0px rgba(53, 161, 32, 0)
    }
    10% {
        box-shadow: 0 0 8px 6px #35A120, 0 0 12px 10px transparent, 0 0 12px 14px #35A120
    }
    100% {
        box-shadow: 0 0 8px 6px rgba(53, 161, 32, 0), 0 0 0px 40px transparent, 0 0 0px 40px rgba(53, 161, 32, 0)
    }
}
 
@keyframes uptocallmini_offline {
    0% {
        -webkit-box-shadow: 0 0 8px 6px rgba(53, 161, 32, 0), 0 0 0px 0px transparent, 0 0 0px 0px rgba(53, 161, 32, 0);
        box-shadow: 0 0 8px 6px rgba(53, 161, 32, 0), 0 0 0px 0px transparent, 0 0 0px 0px rgba(53, 161, 32, 0)
    }
    10% {
        -webkit-box-shadow: 0 0 8px 6px #1CB2ED, 0 0 12px 10px transparent, 0 0 12px 14px #1CB2ED;
        box-shadow: 0 0 8px 6px #1CB2ED, 0 0 12px 10px transparent, 0 0 12px 14px #1CB2ED
    }
    100% {
        -webkit-box-shadow: 0 0 8px 6px rgba(53, 161, 32, 0), 0 0 0px 40px transparent, 0 0 0px 40px rgba(53, 161, 32, 0);
        box-shadow: 0 0 8px 6px rgba(53, 161, 32, 0), 0 0 0px 40px transparent, 0 0 0px 40px rgba(53, 161, 32, 0)
    }
}

/*-------------------------------------*/
.call-text{
    background-color: #2f9cd6;
    border-radius: 50px  ;
    display:block;
    height: 64px;
    line-height: 64px;
    opacity: 0.7;
    position: fixed;
    left: 35px;
    top: 550px;
    text-align: right;
    width: 175px;
    z-index: 99;
    padding-right: 2px;
}

.call a{
    color: white;
    font-size: 18px;
}
.call a:hover{
    color: rgb(248, 59, 59);
    text-decoration: none;
}

.fa-phone{
    display:block;
    color: white;
    height: 64px;
    line-height: 64px;
    opacity: 0.7;
    position: fixed;
    padding-top: 16px;
    left: 50px;
    top: 550px;
    text-align: left;
    width: 64px;
    z-index: 9999;
    padding-right: 2px;
    font-size: 32px;
}

.LK-text{
    color: red;
    display:block;
    height: 64px;
    line-height: 64px;
    opacity: 0.7;
    position: fixed;
    left: 35px;
    top: 500px;
    font-size: 20px;
    text-align: center;
    width: 175px;
    z-index: 99;
    padding-right: 2px;
}

.center{
    text-align: center;
}

.font24{
    font-size: 20px;
    padding-left: 200px;
}

.font20{
    font-size: 20px;
}